<nav class="navbar navbar-dark bg-dark">
    <h1 class="navbar-title">Hearthpwn Scraper</h1>
    {{!-- <h5 class="navbar-title">Saved Articles</h5> --}}
    <button class=" btn btn-danger scrape">Scrape</button>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        {{!-- <h1 class="display-4">Mongo Scraper</h1>
        <h2 class="lead">Hearthpwn Edition</h2> --}}
    </div>
</div>
{{#each Articles}}
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" id="title">{{title}}<button class=" btn btn-success save">Save</button></li>
        <li class="list-group-item">{{summary}}</li>
        <li class="list-group-item"><a href="{{link}}">{{link}}</a></li>
    </ul>

</div>
{{/each}}
</div>